.app-div {
  background-color: #ECECEC;
}

.my-card {
  width: 90vw;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 15px 0 rgba(50, 50, 50, 0.75);
  padding: 2rem;
}

.my-card-cont {
  margin-top: 1.5rem;
  display: flex;
  width: 100vw;
  justify-content: center;
}